<!DOCTYPE html>
    <body>
        <h2> ------------- Forgot Password ------------- </h2>
        <br>
        <br>
        <br>
        <form method="POST" action="/api/forgot-password">
            <label for="">Email</label>
            <input type="email" name="email" id="">
            <br>
            <br>
            <br>
            <button type="submit"> Forget password </button>
        </form>
       
    </body>
</html>
