<!DOCTYPE html>
    <body>
        <h2> ------------- Reset Your Password !! ------------- </h2>
        <br>
        <br>
        <br>
        <form method="POST" action="/api/reset-password-next">
            <label for=""> Enter Your _Id here  </label>
            <input type="text" name="_id" id="">
            <br>
            <br>
            <br>

            <label for=""> Enter New Password </label>
            <input type="password" name="password" id="">
            <br>
            <br>
            <br>
           
            <button type="submit"> Reset Password </button>
        </form>
         
 
        

       
    </body>
</html>
